.title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.title > span {
  color: tomato;
}
.description {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  text-align: center;
}

.section {
  padding: 20px 0;
}

.sectionHeading {
  text-align: center;
}

.flexItem {
  width: 270px;
}

.flexItem > div {
  border: none;
}

.campaignItems {
  display: flex;
  padding: 20px 60px;
  flex-direction: row;
  overflow-x: scroll;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}

.flexItem a {
  color: slateblue;
  font-weight: bold;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wave {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.socialIcons {
  color: white;
  font-size: 2rem;
  background-color: indianred;
  text-orientation: upright;
  padding: 12px;
  border-radius: 30px;
  position: absolute;
  right: 30px;
  bottom: 60px;
}

.socialIcons > span {
  text-align: center;

  display: block;
}

.contact form input,
.contact form button {
  margin: 10px 0;
}

.contact {
  background-color: #c70039;
  color: white;
}

.addressWrapper {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 15px;
  border-radius: 20px;
  align-items: center;
  font-size: 1.5rem;
}

.addressWrapper span {
  padding-right: 1rem;
}

@media screen and (min-width: 900px) {
  .video iframe {
    width: 500px;
    height: 400px;
  }

  .socialIcons {
    color: white;
    font-size: 2rem;
    background-color: tomato;
    text-orientation: upright;
    text-align: center;
    padding: 12px;
    border-radius: 30px;
    position: absolute;
    right: 30px;
    bottom: 160px;
  }
}

@media screen and (max-width: 600px) {
  .campaignList {
    display: none;
  }

  .causes {
    display: none;
  }
}
